# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

faust-stratus.tgz
stage/**
tests/tester.cpp
srcs/stratus-python/build/**
srcs/stratus-python/stratus.egg-info/**
srcs/stratus-python/dist/**
srcs/stratus-python/stratus/__pycache__/*
